@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "nTest - Bank acocunts";
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"ctr\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"isLoading\"";
}

@section Scripts {
    <script @Html.CspScriptNonce()>
        var initialData = JSON.parse(atob('@Html.Raw(ViewBag.JsonInitialData)'))
    </script>
    @Scripts.Render("~/Content/js/bundle-basewithangular")
    <script @Html.CspScriptNonce()>
        var app = angular.module('app', []);
        app
            .controller('ctr', ['$scope', '$http', '$timeout', function ($scope, $http, $timeout) {
                $scope.parse = function (nr, evt) {
                    if (evt) {
                        evt.preventDefault()
                    }
                    $scope.isLoading = true;
                    $http.post('/Api/BankAccounts/Parse', { nr: nr }).then(result => {
                        $scope.result = result.data
                        $scope.isLoading = false;
                    })
                }
                window.scope = $scope
            }])
    </script>
}
<div class="pb-2"><a class="n-back" href="@(new Uri(NEnv.ServiceRegistry.External["nTest"]).ToString())"><span class="glyphicon glyphicon-arrow-left"></span></a></div>
<div class="col-sm-12">
    <div class="row">
        <form class="form-horizontal col-sm-6">
            <div class="form-group">
                <label class="col-sm-2 control-label">Bank account nr</label>
                <div class="col-sm-10">
                    <input type="text" ng-model="bankAccountNrRaw" class="form-control" required autocomplete="off" class="copyable" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <p class="form-control-static">
                        <button class="btn btn-default" ng-click="parse(bankAccountNrRaw, $event)" ng-disabled="!bankAccountNrRaw">Parse</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="row" ng-show="result">
        <h2>Raw result</h2>
        <pre>{{result | json}}</pre>
    </div>
</div>