@using nSavings.Code
@using NWebsec.Mvc.HttpHeaders.Csp
@{
    ViewBag.Title = "Savings - Interest rate change";
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"interestRateChangeCtrl as c\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"c.isLoading\"";
}

@section Styles {
    <style>
        .comma:not(:first-child):before {
            content: ", ";
        }

        .removedhistoryitem {
            text-decoration: line-through
        }
    </style>
}

@section Scripts {
    <script @Html.CspScriptNonce()>
        const initialData = Object.freeze(JSON.parse(atob('@Html.Raw(ViewBag.JsonInitialData)')))
    </script>
    @Scripts.Render("~/Content/js/bundle-interestratechange")
}

<div class="pt-1 pb-2">
    <div class="pull-left"><a class="n-back" href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())"><span
                class="glyphicon glyphicon-arrow-left"></span></a></div>
    <h1 class="adjusted">Savings: Change interest rate</h1>
</div>
<div class="pb-3">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-6">Interest rate for accounts opened today</label>
            <p ng-if="c.currentNewAccountsInterestRate" class="form-control-static col-xs-6">
                {{c.currentNewAccountsInterestRate.InterestRatePercent |number:'2'}} %</p>
        </div>
    </div>
</div>

@Html.Partial("Index_Calculate")
@Html.Partial("Index_Preview")
@Html.Partial("Index_Pending")
@Html.Partial("Index_UpcomingChanges")

<!--view history-->
<div class="pt-3" ng-if="!c.pending">
    <h2 class="custom-header">
        <span class="glyphicon chevron-bg" ng-click="c.toggleHistoricalChangeItems($event)"
              ng-class="{ 'glyphicon-chevron-down' : c.historicalChangeItems, 'glyphicon-chevron-right' : !c.historicalChangeItems }"/>
        View history
    </h2>
    <hr class="hr-section">
</div>
<div class="row" ng-if="c.historicalChangeItems && c.historicalChangeItems.length > 0">
    <div class="col-sm-offset-1 col-xs-10">
        <table class="table">
            <thead>
            <tr>
                <th class="col-xs-3">Initiated date</th>
                <th class="col-xs-2 text-right">New interest</th>
                <th class="text-right col-xs-3">Interest from date</th>
                <th class="text-right col-xs-4">Account</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="u in c.historicalChangeItems"
                ng-class="{ 'removedhistoryitem' : u.RemovedByBusinessEventId }">
                <td><span class="glyphicon chevron-bg mr-1"
                          ng-class="{ 'glyphicon-chevron-down' : u.IsUnfolded, 'glyphicon-chevron-right' : !u.IsUnfolded  }"
                          ng-click="u.IsUnfolded = !u.IsUnfolded"></span> {{u.InitiatedDate}}
                </td>
                <td class="text-right">{{u.InterestRatePercent | number:'2'}} %</td>
                <td class="text-right">{{u.ValidFromDate}}</td>
                <td class="text-right">
                    <span ng-if="u.IsPartOfSplitChange && u.AppliesToAccountsSinceBusinessEventId">New</span>
                    <span ng-if="u.IsPartOfSplitChange && !u.AppliesToAccountsSinceBusinessEventId">Existing</span>
                    <span ng-if="!u.IsPartOfSplitChange">All</span>
                </td>
            </tr>
            <tr class="opend" ng-repeat-end="" ng-show="u.IsUnfolded">
                <td colspan="4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <label class="col-md-6 text-right">Created by</label>
                                <div class="col-md-6"><p><b>{{u.CreatedByUserDisplayName}}</b></p></div>
                            </div>
                            <div class="row">
                                <label class="col-md-6 text-right">Verified by</label>
                                <div class="col-md-6"><p><b>{{u.VerifiedByUserDisplayName}}</b></p></div>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="u.RemovedByBusinessEventId">
                            <div class="row">
                                <label class="col-md-6 text-right">Canceled</label>
                                <div class="col-md-6"><p><b>{{u.RemovedDate}}</b></p></div>
                            </div>
                            <div class="row">
                                <label class="col-md-6 text-right">Canceled by</label>
                                <div class="col-md-6"><p><b>{{u.RemovedByUserDisplayName}}</b></p></div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!--slut på historik-->
