@using nCustomerPages.Models
@model nCustomerPages.Models.SavingsAccountApplicationViewModel

@{
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"savingsAccountApplicationCtr\" ng-cloak translate-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"isLoading\"";
}

@section Scripts {
    <script>
        initialData = parseUtf8Base64InitialData('@Html.Raw(ViewBag.JsonInitialData)')
    </script>
    @Scripts.Render("~/Content/js/bundle-savings-standardapplication-index")
}

<div class="col-sm-12">
    @switch (Model.Status)
    {
        case CustomerSavingsApplicationStatus.WaitingForClient:
            <div class="row" ng-if="mode === 'beingprocessed'">
                @Html.Partial("Index_BeingProcessed")
            </div>
            break;
        case CustomerSavingsApplicationStatus.CustomerIsAMinor:
            <div class="row" ng-if="mode === 'rejectedminor'">
                @Html.Partial("Index_RejectedMinor")
            </div>
            break;
        @*case CustomerSavingsApplicationStatus.CustomerHasAnActiveAccount:
            <div class="row" ng-if="mode === 'hasactiveaccount'">
                @Html.Partial("Index_HasActiveAccount")
            </div>
            break;*@
        case CustomerSavingsApplicationStatus.NoActiveApplication:
        default:
            <div class="row" ng-if="mode === 'application' || mode === 'hasactiveaccount'">
                @Html.Partial("Index_Application")
            </div>
            break;
    }
</div>