@using nSavings.Code
@using NWebsec.Mvc.HttpHeaders.Csp
@{
    Layout = "~/Views/ScheduledTasks/_ScheduledTaskLayout.cshtml";
    ViewBag.Title = "Savings - Customs Accounts Export";
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"ctr\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"isLoading\"";
}

@section Scripts {
    <script @Html.CspScriptNonce()>
        const initialData = JSON.parse(atob('@Html.Raw(ViewBag.JsonInitialData)'));
    </script>
    @Scripts.Render("~/Content/js/bundle-customsaccountsexport-index")
}

@section PageHeader {
    <div class="pt-1 pb-2">
        <div class="pull-left">
            <a class="n-back" href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </div>
        <h1 class="adjusted">Customs Accounts AML Export</h1>
    </div>
}

@section CurrentTask {
    @Html.Partial("HideShowExecuteButton", new { text = "Trigger job manually" })
    <div class="row pb-3" ng-show="showExecuteButton">
        <div class="frame col-xs-8 col-sm-offset-2">
            <div class="text-center pt-3">
                <button class="n-main-btn n-green-btn" ng-click="createFile($event)">
                    <span ng-hide="skipDeliver">Create data and deliver it to customs</span>
                    <span ng-show="skipDeliver">Create data but don't deliver it</span>
                </button>
            </div>
        </div>
    </div>
    <div class="pt-3 text-center no-hits" ng-show="files && files.TotalNrOfPages == 0"><p>No exports have been done.</p>
    </div>
    <div class="pt-3" ng-show="files && files.TotalNrOfPages > 0">
        <table class="table">
            <thead>
            <tr>
                <th class="">Date</th>
                <th class="text-left">Status</th>
                <th class="text-right">Download file</th>
                <th class="text-right">By</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="f in files.Page">
                <td class="">{{f.TransactionDate | date:'shortDate'}}</td>
                <td class="text-left">
                    <span>{{f.ExportResultStatus}}</span>
                    <span ng-click="toggleStatus(f, $event)" class="glyphicon"
                          ng-class="{ 'glyphicon-ok' : f.ExportResultStatus == 'Delivered',  'glyphicon-remove' : f.ExportResultStatus == 'DeliveryFailed' }"></span>
                </td>
                <td class="text-right"><a class="n-direct-btn n-purple-btn" ng-show="f.ArchiveDocumentUrl"
                                          target="_blank" ng-href="{{f.ArchiveDocumentUrl}}">File <span
                            class="glyphicon glyphicon-save"></span></a></td>
                <td class="text-right">{{f.UserDisplayName}}</td>
            </tr>
            <tr ng-repeat-end ng-show="f.localDetails">
                <td colspan="4">
                    <ul ng-show="f.localDetails.items">
                        <li ng-repeat="i in f.localDetails.items"><b>{{i.key}}:</b> <span
                                class="copyable">{{i.value}}</span></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="files && files.TotalNrOfPages > 1">
        <div class="dataTables_paginate paging_simple_numbers custom-pagination">
            <ul class="pagination">
                <li class="paginate_button previous" ng-show="filesPaging.isPreviousAllowed"><a href="#"
                                                                                                ng-click="gotoPage(filesPaging.previousPageNr, $event)">Previous</a>
                </li>
                <li class="paginate_button previous disabled" ng-hide="filesPaging.isPreviousAllowed"><a href="#"
                                                                                                         ng-click="$event.preventDefault()">Previous</a>
                </li>

                <li ng-repeat="p in filesPaging.pages" class="paginate_button"
                    ng-class="{ 'active' : p.isCurrentPage, 'disabled' : p.isSeparator }">
                    <a href="#" ng-click="gotoPage(p.pageNr, $event)" ng-hide="p.isSeparator">{{p.pageNr+1}}</a>
                    <a href="#" ng-show="p.isSeparator" ng-click="$event.preventDefault()">...</a>
                </li>

                <li class="paginate_button next" ng-show="filesPaging.isNextAllowed"><a href="#"
                                                                                        ng-click="gotoPage(filesPaging.nextPageNr, $event)">Next</a>
                </li>
                <li class="paginate_button next disabled" ng-hide="filesPaging.isNextAllowed"><a href="#"
                                                                                                 ng-click="$event.preventDefault()">Next</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
}