@using nSavings.Code
@using NWebsec.Mvc.HttpHeaders.Csp
@{
    Layout = "~/Views/ScheduledTasks/_ScheduledTaskLayout.cshtml";
    ViewBag.Title = "Credit - Fatca export";
    ViewBag.AngularDeclaration = "ng-app=\"app\" ng-controller=\"fatcaExportCtr as main\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"main.isLoading\"";
}

@section Scripts {
    <script @Html.CspScriptNonce()>
        const initialData = JSON.parse(atob('@Html.Raw(ViewBag.JsonInitialData)'));
    </script>
    @Scripts.Render("~/Content/js/bundle-fatcaexport-index")
}

@section PageHeader {
    <div class="pt-1 pb-2">
        <div class="pull-left">
            <a class="n-back" href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </div>
        <h1 class="adjusted">Fatca export</h1>
    </div>
}

@section CurrentTask {
    @Html.Partial("HideShowExecuteButton", new { text = "Trigger job manually" })
    <div class="row pb-3" ng-show="showExecuteButton">
        <div class="col-xs-8 col-sm-offset-2">
            <div class="frame">
                <div class="text-center">
                    <div class="row pb-3">
                        <div class="col-sm-offset-4 col-xs-4">
                            <select ng-model="main.exportYear" class="form-control">
                                <option ng-repeat="y in main.allYears" value="{{y}}">Year {{y}}</option>
                            </select>
                        </div>
                    </div>
                    <button class="n-main-btn n-green-btn" ng-click="main.createFile($event)">
                        <span ng-show="main.exportProfileName">Create FATCA file and export it using '{{main.exportProfileName}}'</span>
                        <span ng-hide="main.exportProfileName">Create FATCA file but dont export it</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="pt-3 text-center no-hits" ng-show="main && (!main.rows || main.rows.length == 0)"><p>There are no FATCA
            files.</p></div>

    <div class="pt-3" ng-show="main.rows && main.rows.length > 0">
        <table class="table">
            <thead>
            <tr>
                <th class="col-xs-2">Created date</th>
                <th class="col-xs-1">For year</th>
                <th class="col-xs-1 text-right"># accounts</th>
                <th class="col-xs-2">Status</th>
                <th class="col-xs-2">Delivered to</th>
                <th class="col-xs-2">Download file</th>
                <th class="text-right col-xs-2">By</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="f in main.rows">
                <td class="">{{f.TransactionDate | date:'shortDate'}}</td>
                <td class="">{{f.ForYearDate | date:'yyyy'}}</td>
                <td class="text-right">{{f.NrOfAccounts}}</td>
                <td class="text-left" ng-if="f.ExportResult.Status !== 'NoExportProfile'">
                    <span class="glyphicon"
                          ng-class="{ 'glyphicon-exclamation-sign' : f.ExportResult.Status == 'Warning', 'glyphicon-ok' : f.ExportResult.Status == 'Ok',  'glyphicon-remove' : f.ExportResult.Status == 'Error' }"></span>
                    <span ng-repeat="w in f.ExportResult.Warnings">({{w}})</span>
                    <span ng-repeat="e in f.ExportResult.Errors">({{e}})</span>
                </td>
                <td ng-if="f.ExportResult.Status !== 'NoExportProfile'">
                    <span ng-repeat="p in f.ExportResult.SuccessProfileNames">{{p}}</span>
                    <span ng-show="f.ExportResult.SuccessProfileNames.length === 0">Not delivered</span>
                </td>
                <td colspan="2" ng-if="f.ExportResult.Status === 'NoExportProfile'">
                    <span>No export profile</span>
                </td>
                <td><a class="n-direct-btn n-purple-btn" ng-show="f.ArchiveDocumentUrl" target="_blank"
                       ng-href="{{f.ArchiveDocumentUrl}}">File <span class="glyphicon glyphicon-save"></span></a></td>
                <td class="text-right">{{f.UserDisplayName}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
}