<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" href="~/Content/img/favicon.png" />
    <link rel="icon" href="~/Content/img/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="~/Content/img/favicon-48.png" sizes="48x48" />
    <link rel="icon" href="~/Content/img/favicon-64.png" sizes="64x64" />
    <link rel="apple-touch-icon" href="~/Content/img/favicon-touch.png" />

    <title>@(ViewBag.Title??"Customer pages")</title>
    @if (ViewBag.SkipDefaultStyles == null || ViewBag.SkipDefaultStyles == false)
    {
        @Styles.Render("~/Content/css/embedded-customerpages-imitation")
    }
    @RenderSection("Styles", false)
    @RenderSection("LastInHead", false)
</head>
<body @Html.Raw(" " + (ViewBag.AngularDeclaration ?? "") + " ")>
    @RenderSection("FirstInBody", false)
    <div class="wrapper">
        <div class="body-content">
            @RenderBody()
            <div class="loading" @Html.Raw(" " + (ViewBag.LoaderDeclaration ?? "style=\"display:none\"") + " ") translate="loading">Loading&#8230;</div>
        </div>
    </div>
    <script>
        ntechClientCountry = '@Html.Raw(NEnv.ClientCfg.Country.BaseCountry)';
    </script>
    @Scripts.Render("~/Content/js/bundle-layout-support")
    @RenderSection("Scripts", true)
</body>
</html>