@using NWebsec.Mvc.HttpHeaders.Csp
@{ 
    var clock = NTech.ClockFactory.SharedInstance;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @if (ViewBag.SkipDefaultStyles == null || ViewBag.SkipDefaultStyles == false)
    {
        @Styles.Render("~/Content/css/bundle-base")
        @Styles.Render("~/Content/css/bundle-magellan")
    }    
    @RenderSection("Styles", false)
    @if (NEnv.IsSkinningCssEnabled)
    {
        <link href="@(Url.Content("~/Skinning/css/skinning.css") + "?v=" + DateTime.Now.ToString("yyyyMMddHH"))" rel="stylesheet" />
    }
</head>
<body ng-csp="no-unsafe-eval">

    <div class="wrapper">
        <div class="navigation">
            <div class="content-position">
                <div class="branding">
                    <a class="navbar-brand" href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())">
                        @if (NEnv.IsSkinningEnabled)
                        {
                            <img src="@Url.Content("~/Skinning/img/menu-header-logo.png")">
                        }
                        else
                        {
                            @Html.Raw("PreCredit")
                        }
                    </a>
                </div>
                <div class="navigation-right">
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="navigation-list">
                            <li>@User.Identity.Name</li>
                            <li>@clock.Today.ToString("yyyy-MM-dd")</li>
                            <li><a href="@Url.Action("Logout", "Common")" class="logout-link">Log out</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navigation-list">
                            <li><a href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())" class="logout-link">Log in</a></li>
                        </ul>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        @if (ViewBag.Message != null)
        {
            <div class="alert alert-info" role="alert" style="margin-top:0px; margin-bottom:2px;max-width: 1400px;margin-left:auto;margin-right:auto">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>@ViewBag.Message.Title</strong> @Html.Raw(ViewBag.Message.Link == null ? ViewBag.Message.Text : "<a href=\"" + ViewBag.Message.Link + "\" target=\"_blank\">" + ViewBag.Message.Text + "<a/>")
            </div>
        }
        <div class="container-fluid body-content" @Html.Raw(" " + (ViewBag.AngularDeclaration ?? "") + " ")>
            @RenderBody()

            <div class="loading" @Html.Raw(" " + (ViewBag.LoaderDeclaration ?? "style=\"display:none\"") + " ")>Loading&#8230;</div>
            @if (!NEnv.IsProduction && ((ViewBag.AngularDeclaration ?? "").Length > 0))
            {
                <div ng-show="isTestFunctionsVisible" class="frame popup-position">
                    <div class="pt-1">
                        @RenderSection("TestFunctions", false)
                    </div>
                </div>
                <div style="position:fixed;bottom:20px;right:5%;">
                    <button class="btn btn-default" ng-class="{ 'toned-down' : !isTestFunctionsVisible }" ng-click="isTestFunctionsVisible=!isTestFunctionsVisible"><span class="glyphicon glyphicon-sort"></span></button>
                </div>
            }
        </div>
        <footer>
            @if (NEnv.IsProduction || !Request.IsAuthenticated)
            {
                <p><img src="~/Content/img/naktergal-logo.png" alt="Näktergal AB" /></p>
            }
            else
            {

                <p><span style="margin-right: 20px;">@(clock.Now.ToString("g", System.Globalization.CultureInfo.GetCultureInfo("fi-FI")))</span> <img src="~/Content/img/naktergal-logo.png" alt="Näktergal AB" /></p>
            }
        </footer>
    </div>


    <script @Html.CspScriptNonce()>
        ntechClientCountry = '@Html.Raw(NEnv.ClientCfg.Country.BaseCountry)';
    </script>
    <script type="text/javascript" @Html.CspScriptNonce()>
        @Html.Raw(NTech.Legacy.Module.Shared.Infrastructure.CustomerOverviewHeaderSearchBoxGenerator.GenerateScriptBlock(NEnv.ServiceRegistry, NEnv.ClientCfg));
    </script>
    @RenderSection("Scripts", true)
    @if (Request.IsAuthenticated)
    {
        <script @Html.CspScriptNonce()>
            if ((typeof ntech === 'undefined')) {
                ntech = {}
            }
        </script>
    }
</body>
</html>