@using NWebsec.Mvc.HttpHeaders.Csp
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico" type="image/vnd.microsoft.icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <title>@ViewBag.Title</title>
    @if (ViewBag.SkipDefaultStyles == null || ViewBag.SkipDefaultStyles == false)
    {
        @Styles.Render("~/Content/css/bundle-base")
        @Styles.Render("~/Content/css/bundle-magellan")
    }
    @RenderSection("Styles", false)
    @if (NEnv.IsSkinningCssEnabled)
    {
        <link href="@(Url.Content("~/Skinning/css/skinning.css") + "?v=" + DateTime.Now.ToString("yyyyMMddHH"))" rel="stylesheet" />
    }
</head>
<body ng-csp="no-unsafe-eval">
    <div class="wrapper">
        <div class="navigation">
            <div class="content-position">
                <div class="branding">
                    <a class="navbar-brand" href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())">
                        @if (NEnv.IsSkinningEnabled)
                        {
                            <img src="@Url.Content("~/Skinning/img/menu-header-logo.png")">
                        }
                        else
                        {
                            @Html.Raw("DataWarehouse")
                        }
                    </a>
                </div>
                <div class="navigation-right">
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="navigation-list">
                            <li>@User.Identity.Name</li>
                            <li>@DateTime.Today.ToString("yyyy-MM-dd")</li>
                            <li><a href="@Url.Action("Logout", "Common")" class="logout-link">Log out</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navigation-list">
                            <li><a href="@(new Uri(NEnv.ServiceRegistry.External["nBackoffice"]).ToString())" class="logout-link">Log in</a></li>
                        </ul>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        

        <div class="container body-content" @Html.Raw(" " + (ViewBag.AngularDeclaration ?? "") + " ")>
            @RenderBody()
            <div class="loading" @Html.Raw(" " + (ViewBag.LoaderDeclaration ?? "style=\"display:none\"") + " ")>Loading&#8230;</div>
        </div>
        <footer>
            <p><img src="~/Content/img/naktergal-logo.png" alt="Näktergal AB" /></p>
        </footer>
    </div>
    

 
    @RenderSection("Scripts", true)
    @if (Request.IsAuthenticated)
    {
        <script @Html.CspScriptNonce()>
        if ((typeof ntech === 'undefined')) {
            ntech = {}
        }
        </script>
    }
</body>
</html>