@{
    ViewBag.Title = "Customer Pages";
    ViewBag.AngularDeclaration = "ng-controller=\"mainCtr\" ng-app=\"app\" ng-cloak";
    ViewBag.LoaderDeclaration = "ng-show=\"isLoading\"";
}

@section Scripts {
    <script>
        initialData = parseUtf8Base64InitialData('@Html.Raw(ViewBag.JsonInitialData)')
    </script>
    @Scripts.Render("~/Content/js/bundle-creditoverview")
}
<div class="fixed" ng-show="currentMenuItemName">
    <div class="miniture mobile" ng-click="showMenu=!showMenu">
        <a ng-hide="showMenu" href="" class="item"><img src="~/Content/img/icons-menu.png" /></a>
        <a ng-show="showMenu" href="" class="item"><img src="~/Content/img/icons-close-menu.png" /></a>
    </div>
    <div class="order">
        <div class="submenu mobile" ng-show="showMenu">
            @Html.Partial("Index_Menu")
        </div>
        <div class="desktopmenu desktop">
            @Html.Partial("Index_Menu")
        </div>
    </div>
</div>
<div class="content" style="" ng-view>

</div>
<div class="clearfix"></div>

@Html.Partial("Index_CreditDetails")
@Html.Partial("Index_OpenNotifications")
@Html.Partial("Index_AccountDocuments")